.BackgroundImageContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.BackgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF url(/img/bkg.jpg);
    background-size: cover;
    transition: all 1s;
}

.BackgroundImageBlurred {
    filter: blur(8px);
    transform: scale(1.1);
    animation: BlurAnimation 5s;
}

@-webkit-keyframes BlurAnimation {
    from { 
        filter: blur(0px);
        transform: scale(1);
    }
    to { 
        filter: blur(8px);
        transform: scale(1.1); 
    }
}
@-moz-keyframes BlurAnimation {
    from { 
        filter: blur(0px);
        transform: scale(1);
    }
    to { 
        filter: blur(8px);
        transform: scale(1.1); 
    }
}
@keyframes BlurAnimation {
    from { 
        filter: blur(0px);
        transform: scale(1);
    }
    to { 
        filter: blur(8px);
        transform: scale(1.1); 
    }
}