.RadioButtons {
    
}

.RadioButtons-ul {
    list-style-type: none;
    padding: 0.1em 0 1.2em;
    margin: 0;
}

.RadioButtons-li {
    padding: 0;
    margin: 1em 0;
}

.RadioButtons-label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.RadioButtons-input {
    width: 2em;
    height: 2em;
    /*-webkit-appearance: none;*/
    display: inline-block;
    flex: 0 0 2em;
}
.RadioButtons-span {
    margin-left: 0.6em;
    display: inline-block;
    flex: 2;
    font-size: 1.6em;
    color: #b1b1b1;
    transition: color 0.3s;
}

.RadioButtons-input:checked ~ .RadioButtons-span {
    color: #565656;
}

.RadioButtons-circle {
    width: 2em;
    height: 2em;
    display: inline-block;
}
.RadioButtons-circle .outline {
    stroke: #b1b1b1;
    fill: none;
    stroke-width: 2px;
    transition: all 0.3s;
}
.RadioButtons-circle .checked {
    fill: #f00;
    stroke: none;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.3s;
}

.RadioButtons-input:checked ~ .RadioButtons-circle .outline {
    stroke: #565656;
}
.RadioButtons-input:checked ~ .RadioButtons-circle .checked {
    opacity: 1;
    transform: scale(1);
}
