.Select {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 10px 0 0 0;
    margin-bottom: 1.5em;
    background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23b1b1b1%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A) 100% 88% no-repeat;
    background-size: 20px 20px;
}

.Select-label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.Select-label-span {
    box-sizing: border-box;
    display: block;
    width: 100%;
    top: 30px;
    left: 0;
    position: absolute;
    font-weight: bold;
    color: #b1b1b1;
    font-size: 0.7em;
    transition: all 0.3s;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    pointer-events: none;
}

.Select-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: 300;
    display: block;
    margin: 0;
    padding: 10px;
    line-height: 1;
    transition: border-color 0.2s;
    color: #595F6E;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Select-input:focus {
    outline: none;
}

.Select-input:required:invalid {
    color: #b1b1b1;
    opacity: 0;
    transform: all 0.3s;
}
.Select-input:focus:required:invalid {
    opacity: 1;
}

.Select-input option {
    color: #595F6E;
}

.Select-line {
    width: 100%;
    height: 3px;
    display: block;
    stroke: #b1b1b1;
    stroke-width: 2px;
}

.Select-line .focus,
.Select-line .valid,
.Select-line .invalid {
    transition: all 0.3s;
    stroke-dasharray: 0, 40;
}
.Select-line .focus {
    stroke: #2e96b4;
}
.Select-line .valid {
    stroke: #23cdb7;
}
.Select-line .invalid {
    stroke: #eb4a3f;
}

.Select-input:focus ~ .Select-line .focus,
.Select-input:valid ~ .Select-line .valid,
.Select-input[data-touched]:invalid ~ .Select-line .invalid {
    stroke-dasharray: 40, 0;
    stroke-dashoffset: 0;
}

.Select-label-span-not-empty,
.Select-input:focus ~ .Select-label-span,
.Select-input:valid ~ .Select-label-span,
.Select-input[data-touched]:invalid ~ .Select-label-span {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}