@-webkit-keyframes StepEnter {
  0% { transform: -webkit-translateY(12em); opacity: 0; }
  75% { transform: -webkit-translateY(-2em); opacity: 1; }
  100% { transform: -webkit-translateY(0); opacity: 1; }
}
@-moz-keyframes StepEnter {
  0% { transform: -moz-translateY(12em); opacity: 0; }
  75% { transform: -moz-translateY(-2em); opacity: 1; }
  100% { transform: -moz-translateY(0); opacity: 1; }
}
@keyframes StepEnter {
  0% { transform: translateY(12em); opacity: 0; }
  75% { transform: translateY(-2em); opacity: 1; }
  100% { transform: translateY(0); opacity: 1; }
}

@-webkit-keyframes StepExitAnimation {
  0% { transform: -webkit-translateY(0); opacity: 1; }
  100% { transform: -webkit-translateY(-12em); opacity: 0; }
}
@-moz-keyframes StepExitAnimation {
  0% { transform: -moz-translateY(0); opacity: 1; }
  100% { transform: -moz-translateY(-12em); opacity: 0; }
}
@keyframes StepExitAnimation {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-12em); opacity: 0; }
}


.Step {
    z-index: 5;
    width: 90%;
    max-width: 480px;
    margin: auto;
    background: #FFF;
    box-shadow: rgba(27,6,13,0.4) 0px 8px 40px;
    box-sizing: border-box;
    padding: 1.5em;
    position: relative;
    border-radius: 1px;
    animation: StepEnter 0.6s forwards;
}

.StepExit {
    animation: StepExitAnimation 0.3s forwards;
}

.Step .title {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    color: #565656;
    margin-bottom: 0.5em;
}

.Step .offerText {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    color: #565656;
    margin-bottom: 0.7em;
}
.Step .offerImg {
    display: block;
    margin: 0 auto 1em;
    width: 75%;
    max-width: 360px;
}

.Step .endCardImg {
    display: block;
    width: 100%;
}

.step-transition-enter {
  opacity: 0.01;
}

.step-transition-enter.step-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.step-transition-leave {
  opacity: 1;
}

.step-transition-leave.step-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media screen and (min-width: 1500px) {
    .Step {
        max-width: 720px;
    }
}

@media screen and (min-width: 2000px) {
    .Step {
        max-width: 960px;
    }
}