.App {
}

.App-header {
  
    background: #e9369f;
    background: -moz-linear-gradient(left,  #e9369f 0%, #e9347a 48%, #e73359 100%);
    background: -webkit-linear-gradient(left,  #e9369f 0%,#e9347a 48%,#e73359 100%);
    background: linear-gradient(to right,  #e9369f 0%,#e9347a 48%,#e73359 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9369f', endColorstr='#e73359',GradientType=1 );
  padding: 30px;
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
}

.container {
    width: 90%;
    max-width: 580px;
    margin: 0 auto;
}

code {
  color: #e73a37;
}