html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    height: 100%;
    /* System Fonts as used by GitHub */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    background: #e73359;
}
h1, h2, h3, h4, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}
main, li {
    display: block;
}
h1, h2, h3, h4 {
    font-size: inherit;
}
strong {
    font-weight: bold;
}
a, button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
}
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
.main {
    width: 100%;
    height: 100%;
}

.app-container {    
    width: 100%;
    height: 100%;
    background: #FFF;
}

.footer {
    width: 100%;
    padding: 2em 1em;
    color: #FFF;
    background: #111;
    box-sizing: border-box;
}

.footer-inner {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_left, .footer_right {
    width: 100%;
}

.footer .disclaimer {
    font-size: 0.85em;
    font-weight: 200;
}
.VizmondLogo {
    display: block;
    width: 70%;
    margin: 0 auto 1em;
    max-width: 12em;
}
.VizmondSVG {
    fill: #FFF;
}
.footer_left-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 1em 0;
    flex-wrap: wrap;
}
.footer_left-link, .footer_left-link-mo {
    font-size: 1.1em;
}
.footer_left-link {
    display: none;
}
.footer_left-link-mo {
    display: inline-block;
    margin: 0 1em;
}

.mobileadbanner {
    margin: 2em auto 0;
    text-align: center;
}

.mobileadbannerdesk {
    display: none;
}

.promoter, .leyend {
    text-align: center;
    padding: 0 0 1em 0;
    font-size: 0.9em;
    line-height: 1.3
}

@media screen and (min-width: 800px) {
    body {
        background: #e73359;
        background: -moz-linear-gradient(top,  #e73359 1%, #c92240 100%);
        background: -webkit-linear-gradient(top,  #e73359 1%,#c92240 100%);
        background: linear-gradient(to bottom,  #e73359 1%,#c92240 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73359', endColorstr='#c92240',GradientType=0 );
        background-attachment: fixed;
    }
    .app-container {    
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 600px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        box-shadow: rgba(0,0,0,0.2) 0px 8px 128px;
    }
    .app-container:after {
        content: ' ';
        position: absolute;
        width: 80%;
        height: 1%;
        left: 10%;
        bottom: 0;
        z-index: -1;
        border-radius: 100%;
        box-shadow: rgba(0,0,0,0.5) 0px 4px 42px 10px;
    }
    .footer-inner {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_left {
        width: 25%;
    }
    .footer_right {
        width: 70%;
    }
    .footer_left-links {
        display: block;
    }
    .footer_left-link, .footer_left-link-mo {
        display: block;
        padding: 0 0 1em 0;
        margin: 0;
    }
    .VizmondLogo {
        width: 70%;
        margin: 0 0 1em;
    }
    .mobileadbanner {
        display: none;
    }
    .mobileadbannerdesk {
        display: block;
        margin: 2em auto 0;
        text-align: center;
    }
    .promoter, .leyend {
        text-align: left;
    }
}

@media screen and (min-width: 1500px) {
    body {
        font-size: 150%;
    }
    .app-container {    
        width: 100%;
        height: 100%;
        max-width: 1200px;
        max-height: 900px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        box-shadow: rgba(0,0,0,0.2) 0px 8px 128px;
    }
    .footer-inner {
        max-width: 1200px;
        font-size: 0.75em;
    }
}

@media screen and (min-width: 2000px) {
    body {
        font-size: 200%;
    }
    .app-container {
        max-width: 1600px;
        max-height: 1200px;
    }
    .footer-inner {
        max-width: 1600px;
    }
}